.profilePage, .profilePageHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em 0;
}

.profilePage > .profilePageHeader > img{
    display: block;
    width: 13em;
    height: 13em;
    border-radius: 100%;
}