.AddToolBar {
    /* z-index: -1; */
    display: flex;
    position: sticky;
    right: -1px;
    top: 0;
    width: 1px;
    height: 100vh;
}
.AddToolBarContainer {
    overflow-y: auto;
    max-height: 100%;
    flex: 0 0 auto;
    padding: .3em;
    position: absolute;
    right: -14.6vw;
    width: 14.7vw;
    height: 100%;
    background: #0e0e0e;
}
.AddToolBarContainer::-webkit-scrollbar {
    width: 0;
}